.App {
  text-align: center;
}

html {
  font-size: 14px;
}

body, button, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.title.is-1 {
  font-size: 3.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.title.is-1 {
  font-size: 3.5rem;
}
.container {
  margin-left: 180px;
  margin-right: 180px;
}
.control:not(:last-child) {
    margin-bottom: 0.75rem;
}
.input, .select select {
  padding-left: 0.75em;
  padding-right: 2.5em;
}

@media screen and (min-width: 1384px) {
  .container {
   max-width: 1152px;
   width: 1152px;
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}